



h1{
    text-align: center;
}

#displayboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0px solid black;
    height: 900px;
    width: 900px;
    margin: auto;
}
/* #displayboard:hover {
    display:flex;
  height: 290px;
  width: 290px;
  margin: 0 flex;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1.1) rotate(0deg);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5) rotate(360deg);
    background-color: yellow;
  }
} */

#square{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size:300px;
    height: 290px;
    width: 290px;
    background-color: white;
    border-top: 5px green solid;
    border-bottom: 5px yellow solid;
    border-right: 5px red solid;
    border-left: 5px blue solid;
    opacity: 1;

}



/* @keyframes {
    0% {
        background-color: green;
    }
    100% {
        background-color: white;
    }
    0% {
        background-color: green;
    }
} */

#square:hover {
    display:flex;
  height: 290px;
  width: 290px;
  margin: 0 flex;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1.1) rotate(0deg);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5) rotate(360deg);
    background-color: yellow;
  }
}
